<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

  <ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides pager="true">

      <ion-slide>
          <img src="../../assets/images/slide-1.svg" />
          <p>
            Each section of the <b>Bible</b> reveals <b>God's character</b> and provides <b>God's revelation</b> of himself to his people, as well as seeing God's holy, unchanging, faithful, gracious, and loving nature.
          </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/slide-2.svg" />
        <p>
          Reading the Bible <b>assists us in determining our next step.</b>
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/slide-3.svg" />
        <p>
          It spreads the <b>Word of God</b> and has inspired many people to do what God has called us to do.
        </p>
        <br>
        <ion-button shape= "round" color="warning" routerLink="/home">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
    

</ion-content>
